*{
  box-sizing: border-box;
}

html{
  height:100%;
}

body {
  height:100%;
  max-width: 960px;
  font-family: -apple-system, BlinkMacSystemFont,'Helvetica', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #1C1C1C;
}

header {
  grid-row: 1;
  grid-column: span 12;
  border-bottom: 2px dashed #623EFF;
  margin-bottom: 1rem;
}

header a{
  font-size: 1.25rem;
  text-decoration: none;
}

#identity a{
  color: #623EFF;
  font-weight: 450;
}

#identity{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#welcome{
  grid-row:2;
  font-size:1.25rem;
}

#welcome p{
  font-size: 1.20rem;
  line-height: 1.75rem;
}

#salut{
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

h1{
  font-size: 2.25rem;
  font-weight: 450;
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
}

h2{
  color: #623EFF;
  margin-top:0;
  font-size: 1.75rem;
  font-weight: 450;
}

h3{
  font-weight: 450;
  margin-top: 1rem;
  font-size: 1.20rem;
}

p{
  line-height: 1.5rem;
  font-size: 1.10rem;
}

ul{
  line-height: 1.75rem;
  font-size: 1.10rem;
}

a{
  color: #1C1C1C;
}

a:visited{
  color: #1C1C1C;
}

a:hover{
  color: #623EFF;
  background: #CBEBCF;
}

.name{
  font-size: 1.5rem;
}

.projectList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  grid-gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.projectCard{
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.15s ease 0s;
  box-shadow: 0 0.5em 0.5em rgba(0,0,0,.07);
}

.projectCard a{
  text-decoration: none;
}

.projectCard:hover{
  transform: translateY(-0.25rem);
}

.projectImage{
  width: 100%;
  padding-top: 56,25%;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
}

figcaption{
  font-family: Courier,"Courier New", monospace;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.projetSubtitle{
  font-weight: 300;
  font-size: 1rem;
  color: #6F6E6E;
}

.projectInfo {
  padding: 1em;
}

section{
  grid-column: span 12;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

#work{
  grid-row: 3;
}

#about{
  grid-row: 4;
}

#period{
  font-style: italic;
  color: grey;
  font-size: 1rem;
  margin-top: 0;
}

#intro{
  padding-top: 0.1rem;
}

#intro img{
  margin-top: 2rem;
}

.subProject{
  margin-bottom: 2rem;
}

#projectNav{
  grid-column: span 12;
  padding-bottom: 1rem;
}

#projectNav a {
  text-decoration: none;
}

#next{
  float: right;
  font-size: 1.5rem;
}

#previous{
  float:left;
  font-size: 1.5rem;
}

footer {
  grid-column: span 12;
  border-top: 2px dashed #623EFF;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
  margin-top:1.5rem;
}

small{
  color: grey;
  font-weight: 300;
}

footer a{
  text-decoration: none;
}

footer ul{
  padding-left:0;
  margin-bottom: 1.5rem;
}

footer li{
  display: inline-block;
  padding-left: 0;
  padding-right: 3rem;
}
